%nav.navbar.navbar-default
  .container-fluid
    .navbar-header
      = link_to "Twitter",root_path,class: "navbar-brand"
    %ul.nav.navbar-nav
      - if current_user
        %li.active= link_to "Home", tweets_path
        %li
          = link_to "Hashtags",tags_path
        %li
          = link_to "Users",users_path
        %li= link_to "Logout",destroy_user_session_path,method: :delete
      - else
        %li= link_to "Login",new_user_session_path,method: :delete
